Example1/WSDL/KumarDoddiProxy.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:djsk="http://www.djsk.org/KumarDoddiProxy/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KumarDoddiProxy" targetNamespace="http://www.djsk.org/KumarDoddiProxy/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.djsk.org/KumarDoddiProxy/">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="a" type="xsd:int"/>
            <xsd:element name="b" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NewOperationRequest">
    <wsdl:part element="djsk:NewOperation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part element="djsk:NewOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="KumarDoddiProxy">
    <wsdl:operation name="NewOperation">
      <wsdl:input message="djsk:NewOperationRequest"/>
      <wsdl:output message="djsk:NewOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KumarDoddiProxySOAP" type="djsk:KumarDoddiProxy">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NewOperation">
      <soap:operation soapAction="http://www.djsk.org/KumarDoddiProxy/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KumarDoddiProxy">
    <wsdl:port binding="djsk:KumarDoddiProxySOAP" name="KumarDoddiProxySOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
